<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    {% include "base/meta.html" %}
    <title>
    {% block title %}
        SellAIArt
    {% endblock title %}
    </title>
    {% comment %} {% include "head/css.html" %} {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% block main %}
<body class="bg-gray-900 text-white">
    {% include "nav/navbar.html" %}
    {% include "base/messages.html" with messages=messages %}

    {% block content %}

    {% endblock content %}

    {% include "base/js.html" %}
</body>
{% endblock main %}
</html>
