<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/meta.html" %}
    <title>
    {% block title %}
        SellAIArt
    {% endblock title %}
    </title>
    {% block style %}
        {% include "base/css.html" %}
    {% endblock style %}
</head>
{% block main %}
<body>
    {% include "nav/navbar.html" %}
    {% include "base/messages.html" with messages=messages %}

    {% block content %}

    {% endblock content %}

    {% include "base/js.html" %}
</body>
{% endblock main %}
</html>
