<section id="about" class="bg-yellow-500">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light  sm:text-lg text-gray-900">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">What We Do at SellAiArt</h2>
            <p class="mb-4 text-lg font-normal">SellAIArt is an online marketplace that brings the future of art to your fingertips by focusing on the sale of AI-generated artwork. We provide a platform where artists can showcase their innovative digital creations, allowing art enthusiasts and businesses alike to explore and purchase unique pieces. Whether you're looking for visionary artwork for personal use or creative assets for professional projects, SellAIArt connects you with groundbreaking AI-generated designs that push the boundaries of creativity.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://img.freepik.com/free-photo/portrait-animal-meditating-practicing-mindfulness-digital-art-style_23-2151506824.jpg?t=st=1728801439~exp=1728805039~hmac=270f0bb698079a7076fab2366810b000336f2060e226f4796a833be2c6ea9ee1&w=740" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://img.freepik.com/free-photo/mountain-landscape-with-fantasy-style-scene_23-2151124826.jpg?t=st=1728801403~exp=1728805003~hmac=8d8edcd0bcd86d81b3d9ca0e8bc50506f4ff425e381bb42f5549956192db0765&w=740" alt="office content 2">
        </div>
    </div>
</section>
