<section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">GenAI Creations</h2>
            <p class="font-light  lg:mb-16 sm:text-xl text-gray-400">Explore a vast array of digital artworks crafted by AI technology.</p>
        </div> 
        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            {% for obj in obj_list %}
                {% include "products/list_card.html" with product=obj %} 
            {% endfor %}
        </div>  
        <div class="flex justify-center items-center">
            <a href="{% url 'products:list' %}" class="bg-transparent border border-white py-2 px-4">View More</a>

        </div>

    </div>
</section>