{% extends "base.html" %}

{% block content %}

<div class="container mx-auto px-4 py-8">
    <div class="flex flex-col md:flex-row gap-8">

        <!-- Main content section -->
        <div class="w-full md:w-3/4 space-y-6">
            <h2 class="text-4xl font-bold text-white">{{ object.name }}</h2>

            <p class="mb-4 font-light text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-4 first-letter:float-left">
                {{object.description}}
            </p>

            {% include 'products/attachments-table.html' with attachments=attachments is_owner=is_owner is_manager=is_manager %}
        </div>

        <!-- Sidebar section -->
        <div class="w-full md:w-1/4 space-y-6">
            {% if is_manager %}
            <a href="{% url 'products:manage' handle=object.handle %}" class="bg-yellow-400 text-[#212226] py-2 px-4">Manage</a>
            {% else %}

            {% if is_owner %}
                <p class="text-lg font-semibold text-gray-200">You own this product.</p>
            {% else %}
                <div>
                    {% include 'purchases/buy-btn-form.html' with product=object %}
                </div>
            {% endif %}
            {% endif %}

            {% if object.image %}
                <div class="rounded-lg overflow-hidden shadow-lg">
                    <img class="w-full h-64 object-contain" src="{{ object.image.url }}" alt="{{ object.name }}">
                </div>
            {% endif %}

            {% if form %}
                <div class="mt-6">
                    <h3 class="text-lg font-bold text-white">Update Product</h3>
                    <form method="POST" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn-submit mt-4 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg">Submit</button>
                    </form>
                </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}
